.promo-code-manager {
  font: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  .promo-code-manager{
    max-width: 400px;
  }
 }

h2 {
  color: #333;
  text-align: left;
  font: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-top: 20px;
}

h3{
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 0.35em;
}

.promo-form {
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 20px;
}

.promo-input {
  flex: 1 1 calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
 
}
::placeholder{
  color: #b8b7b7;
}
.add-buttons{
  display: flex;
  justify-content: flex-end;
}
.Ajouter{
  justify-content: right;
  display: flex;
}
.ajouter{
  background-color: white;
  color:#FF9A40;
  border: 1px solid #FF9A40 ;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
}

.ajouter:hover {
  background-color: #FF9A40;
color: white;
}

#promo-submit  {
  background-color: white;
  color:#FF9A40;
  border: 1px solid #FF9A40 ;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

#promo-submit:hover {
  background-color: #FF9A40;
  color: white;
}

table, th, td {
  border: none;
  text-align: center;
  font-size: 16px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
}

.table-container table {
  width: 100%; /* Assurez-vous que la table utilise toute la largeur du conteneur */
  min-width: 800px; /* Ajustez cette valeur en fonction de la taille minimum souhaitée pour la table */
  border-collapse: collapse;
}
.table-container-promo {
  margin-top: 20px;
  background-color: #f9f9f9;
}
.promo-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: auto;
}

.promo-table th, .promo-table td {
  padding: 14px;
  text-align: center;
  font-size: 14px;
}

.promo-table th {
  font-size: 13px;
  text-align: center;
  background-color: #FBF3EE;
  padding: 20px;
}

label {
  margin-bottom: 5px;
  margin-top:10px ;
  font-weight: 500;
  font-size: 12px;
}
.form-row{
  flex-wrap: wrap;
  width: 100%;
}

.promo-edit, .promo-delete {
  cursor: pointer;
  font-size: 1em;
  margin-right: 6px;
  color: #8f8f8f;
}

.promo-delete:hover {
  color: red;
}

.promo-edit:hover {
  color: green;
}
input:focus {
border: none;
border: 1px solid #FF9A40;
}
input{
outline: none;
}
table tr:nth-child(odd) {
background-color: #f5f5f5;
}
table tr:nth-child(row) {
background-color: #ffffff;
}

.promo-table td .promo-edit,
.promo-table td .promo-delete {
    color: #808080; 
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 1.2em; 
}

.promo-table td .promo-edit:hover,
.promo-table td .promo-delete:hover {
    color: #FF9A40; 
}

.promo-table td {
    text-align: center;
    vertical-align: middle;
}

.promo-table td .promo-edit,
.promo-table td .promo-delete {
    margin-right: 10px; 
}

.promo-table td .promo-delete {
    margin-right: 0; 
}

.pagination-container .pagination-button.active {
  background-color: #FF9A40; 
  color: white;
}

.promo-table table td:nth-child(2),
.promo-table table th:nth-child(2) {
  text-align: center;
  font-size: 12px;
}
@media (max-width: 768px) {
  .table-container {
      padding-bottom: 1rem;
      overflow-x: scroll;
  }

  .table-container table {
      width: auto; 
  }
}
