

.sidebar {
  width: 250px;
  background-color: #FFF8F1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;

  &.collapsed {
    width: 80px;

    .sidebar-header {
      .collapse-button {
        left: 60px;
      }
    }

    .sidebar-menu ul li .menu-item span,
    .sidebar-menu ul li a span {
      display: none; 
    }

    .submenu {
      padding-left: 0;
    }

    .sidebar-menu ul li .icon {
      color: #333; /* Ensure icon color is set */
    }
  }

  .sidebar-header {
    padding: 20px;
    text-align: center;
    position: relative;

    .logo {
      max-width: 100%;
      height: auto;
      @media (max-width: 768px) {
        
          .logo {
            max-width: 100px;
            height: auto;
            background-image: var(#333);
        }
      }
    }

    .collapse-button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .sidebar-menu {
    flex-grow: 1;
    margin-top: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        .menu-item,
        a {
          display: flex;
          align-items: center;
          padding: 23px 40px;
          font-size: 16px;
          color: #333; /* Ensure link color is set */
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s;
          font-weight: 700;

          &:hover {
            background-color: #fffffffa;
            border-radius: 8px;
          }

          &.active {
            background-color: #ffffff;
            color: #FF9A40;
            border-radius: 8px;
            margin-left: 30px;
            box-shadow: 0 0 10px #FF9A4047;
            padding: 16px 16px;
          }

          .icon {
            margin-right: 10px;
            color: #333; /* Ensure icon color is set */
          }
        }

        .submenu {
          padding-left: 20px;

          li {
            padding: 5px 0;

            a {
              font-size: 14px;

              &:hover {
                color: #FF9A40;
              }
            }
          }
        }
      }
    }
  }

  .sidebar-footer {
    padding: 20px;
    text-align: center;

    .help {
      p {
        margin: 10px 0;
      }

      button {
        background-color: #FF9A40;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #FF9A40;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px; 
    .sidebar .sidebar-menu {
      margin-top: 20px;
    }

    .sidebar .sidebar-header .logo {
      max-width: 100px;
      height: auto;
  }
    .sidebar-menu ul li .menu-item span,
    .sidebar-menu ul li a span {
      display: none; 
      
    }

    .sidebar-menu ul li .icon {
      color: #333;
      font-size: 24px;
      margin-left: -10px;
    }
  }

  .sidebar.collapsed {
    width: 50px; 

    .sidebar-header .collapse-button {
      left: 30px;
    }

    .sidebar-menu ul li .icon {
      color: #333;
      font-size: 24px; 
    }
  }

  .content {
    margin-left: 80px; 
  }

  .header {
    left: 80px; 
    width: calc(100% - 80px);
  }

  .footer {
    left: 80px; 
    width: calc(100% - 80px);
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 50px; 

    .sidebar .sidebar-header .logo {
      max-width: 100px;
      height: auto;
  }

    .sidebar-menu ul li .menu-item span,
    .sidebar-menu ul li a span {
      display: none; 
    }

    .sidebar-menu ul li .icon {
      color: #333;
      font-size: 20px; 
    }
  }

  .sidebar.collapsed {
    width: 0; 

    .sidebar-header .collapse-button {
      left: 30px;
    }

    .sidebar-menu ul li .icon {
      color: #333;
      font-size: 24px; 
    }
  }

  .content {
    margin-left: 50px; 
  }

  .header {
    left: 50px; 
    width: calc(100% - 50px);
  }

  .footer {
    left: 50px; 
    width: calc(100% - 50px);
  }
}